<p-toast></p-toast>

<div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">
        <div class="ui-g">

            <div class="ui-g-12">
              <h1>{{editando?'Edicao de ':'Nova '}} Cidade </h1>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>Nome</label>
              <input pInputText type="text" name="nome"
                [(ngModel)]="cidade.nome"
                #nome="ngModel" required minlength="2">

                <div *ngIf="nome.hasError('required') && nome.touched">Informe um nome</div>
                <div *ngIf="nome.hasError('minlength')">O nome deve ter no mínimo 2 caractares</div>
            </div>

            <div class="ui-g-12 ui-md-9 ui-fluid">
              <label>UF</label>
              <p-dropdown [options]="estados"
                [(ngModel)]="cidade.estado.id"
                name="uf" [filter]="true">
              </p-dropdown>
            </div>

            <div class="ui-g-12">
                <button pButton type="submit" label="Salvar" [disabled]="f.invalid" class=" boxButton"></button>
                <button pButton type="button" label="Novo" class="ui-button-info" class=" boxButton" routerLink="/estados/novo"></button>
                <a routerLink="/estados">Voltar para a pesquisa</a>
            </div>


        </div>
    </form>
</div>
